@using Microsoft.AspNetCore.Components

<style>
.mat-nav-menu * {
    color: white;
}
</style>

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorGooglePay.BasicExample</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@code
{
    [Inject] IJSRuntime? JS { get; set; }

    bool _navFootballSubMenuOpenState;
    bool _navUfcSubMenuOpenState;

    async Task ClickMe()
    {
        Console.WriteLine("test");
        await JS.InvokeAsync<object>("alert", "Successful OnClick!");
    }
}

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
